.services{
    .service{
        background-color: #CEBBA41A;
        padding: 10px;
        height: 100px;
        h1{
            color: blue;
            font-size: 20px;
            font-weight: 500;
        }
    }
    .info{
        h2{
            font-size: 25px;
        }
        p{
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
}