.profile_links{
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 3rem;
    ul{
        display: flex;
        flex-direction: column;
        li{
            display: flex;
            margin: 5px 0px;
            align-content: center;
            padding: 10px 0px;
            border-bottom: 1px solid rgba(164, 175, 206, 0.25);
            img{
                width: 15px;
                margin-right: .5rem;
            }
            span{
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
}