.transfer_form{
        padding: 0rem 2rem;
    .input_group{
        span.top_text{
            font-size: 10px;
            span{
                color: rgba(64, 191, 106, 1) !important;
            }
        }
    }
}